<%= simple_form_for(resource, as: resource_name, data: { turbo: false }, url: registration_path(resource_name)) do |form| %>
  <div class="form-inputs mb-3 row justify-content-center">
    <div class="col-6">
      <%= form.input :email, autofocus: true, type: 'email',
                     autocomplete: true, required: true,
                     input_html: { autocomplete: 'email' },
                     wrapper_html: { class: 'form-outline' },
                     label_html: { class: 'form-label' }
      %>
      <%= form.input :password, required: true,
                     hint: (@minimum_password_length if @minimum_password_length),
                     input_html: { autocomplete: 'new-password' },
                     wrapper_html: { class: 'form-outline' }, label_html: { class: 'form-label' }
      %>
      <%= form.input :password_confirmation,
                     required: true,
                     input_html: { autocomplete: 'new-password' },
                     label_html: { class: 'form-label' },
                     wrapper_html: { class: 'form-outline mb-3' }
      %>
      <div class="form-actions">
        <%= form.button :submit, 'Sign up', class: 'btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>
