<%= simple_form_for(resource, as: resource_name, data: { turbo: false },url: session_path(resource_name)) do |form| %>
  <div class="form-inputs mb-3 row justify-content-center">
    <div class="col-6">
      <%= form.error_notification %>
      <%= form.input :email,
      autofocus: true,
       type: 'email',
       autocomplete: true,
       required: false,
       input_html: { autocomplete: 'email' },
       wrapper_html: { class: 'form-outline' },
       label_html: { class: 'form-label' },
       error: form.object.errors.full_messages_for(:email).to_sentence
      %>
      <%= form.input :password, required: false,
        input_html: { autocomplete: 'new-password' },
        wrapper_html: { class: 'form-outline mb-2' },
        label_html: { class: 'form-label',
        error: form.object.errors.full_messages_for(:password).to_sentence  }
       %>
      <% if devise_mapping.rememberable? %>
        <%= form.input :remember_me, as: :boolean,
           inline_label: :remember_me,
          wrapper_html: { class: 'mb-2' }
        %>
      <% end %>
      <div class="actions mb-2">
        <%= form.button :submit, 'Sign in', class: 'btn-primary btn-block' %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
