<div class="row justify-content-center">
  <article class="col-12">
    <h1 class="mb-4">
      <%= @post.title %>
    </h1>
    <p>
      <%= @post.body %>
    </p>
    <div>
      <div class="post-section">
        <span>
          <%= @post.creator.email %>
        </span>
        <span>
          <%= time_ago_in_words(@post.created_at) %>
        </span>
      </div>
      <%= render 'posts/likes/like_post',
                 post: @post,
                 like: @current_user_like_from_post
      %>
    </div>
  </article>
</div>

<%= render partial: 'posts/comments/post_comment',
           collection: @comments,
           as: :post_comment
%>

<% if user_signed_in? %>
  <%= render 'posts/comments/form', comment: @current_comment, url: post_comments_path(@post), parent_id: nil %>
<% end %>


